<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Bem vindo ao pesquisador</title>
        <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
    <h1>Bem vindo ao SearchWeb</h1>
    <h2>Feito para pesquisas aprofundadas em pdf's</h2>
    </header>
    <main>
    <h3>Para começar a pesquisar, digite o que deseja pesquisar no campo abaixo:</h3>
    <div class="pesquisa-container">
      <input class="pesquisa" type="text" placeholder="Pesquise o que quiser, encontre o que procura..." maxlength="250">
    <button class="btn_pesquisar">
      🔍
    </button>
    </div>
    </main>
    <footer>&copy; 2026 VmcScriptum. Todos os direitos reservados.</footer>
  </body>
</html>
